*~
*.json
*.o
*.moc
Makefile
tags
bench
VdomBrowser
qt-4.5.2-webkit/webkit.patch
*.hi
.rsync
*.dom.res
moc_*.cpp
!*.t.json
cover_db
blib
*.old
*.swp
pm_to_blib
t/*.dat
*.tar.gz
WebKit/qt/WebKit
WebKit/qt/dummy
.dotest
